<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Wishlist</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="cyan lighten-4">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
    <div class="container">
      <a href="{% url 'loginReg:logout' %}">Logout</a>
      <h1 class="center-align orange darken-2 teal-text text-lighten-5">Hello, {{user.name}}!</h1>
      <h3><a class="waves-effect waves-light btn" href="{% url 'wishList:add' %}">Add Item</a></h3>
      <div class="row teal lighten-4 teal-text text-darken-4">
        <h3>Your Wish List:</h3>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Added By</th>
              <th>Date Added</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in myItems %}
            <tr>
              <td><a href="{% url 'wishList:view' id=item.id %}">{{item.item}}</a></td>
              <td>{{item.user.name}}</td>
              <td>{{item.created_at}}</td>
              {% if item.user.id == request.session.uid %}
              <td><a href="{% url 'wishList:delete' id=item.id %}">Delete</a></td>
              {% endif %}
            </tr>
            {% endfor %} {% for wish in wishes %}
            <tr>
              <td><a href="{% url 'wishList:view' id=wish.item.id %}">{{wish.item.item}}</a></td>
              <td>{{wish.item.user.name}}</td>
              <td>{{wish.item.created_at}}</td>
              <td><a href="{% url 'wishList:remove' id=wish.id %}">Remove from my Wishlist</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row teal lighten-4 teal-text text-darken-4">
        <h3>Others' Wish Lists:</h3>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Added By</th>
              <th>Date Added</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in otherItems %}
            <tr>
              <td><a href="{% url 'wishList:view' id=item.id %}">{{item.item}}</a></td>
              <td>{{item.user.name}}</td>
              <td>{{item.created_at}}</td>
              <td><a href="{% url 'wishList:join' id=item.id %}">Add to my Wishlist</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>
